.feature-service {
  .feature-img-bg {
    padding: 40px 0;
    background: url("../img/shopify-bg-circle.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
}

.sopify-success-stories {
  background: url("../img/shopify-success-stories-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .sopify-success-stories-img {
    background: url("../img/shopify-success-triangle.png");
    background-size: 180px;
    background-position:  bottom center;
    background-repeat: no-repeat;
  }
}
